<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <img src="/img/robot.jpg" alt="robot">
    {{>footer}}
  </body>
</html>
