<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="./css/styles.css">
      <link rel="icon" href="/img/cloud.png">
    <meta charset="utf-8">
    <title>Error 404</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
  </div>
      <p>{{errorType}} {{errorMessage}}</p>
    {{>footer}}
</body>

</html>
