<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="./css/styles.css">
    <meta charset="utf-8">
    <title>Error 404</title>
</head>

<body>
    {{>header}}
      <p>{{errorType}} {{errorMessage}}</p>
    {{>footer}}
</body>

</html>
